cycler==0.10.0
h5py==2.9.0
image==1.5.27
imageio==2.5.0
kiwisolver==1.1.0
matplotlib
numpy
opencv-python
Pillow
pygame
pyparsing==2.2.0
python-dateutil
pytz
scipy
six
sqlparse==0.3.0
tornado==6.0.2
wget==3.2
